<div class="page-header">
	<h1>Recent Games for:
		<%= @summoner.name %></h1>
</div>

<table class="table table-nonfluid">
	<thead>
		<tr>
			<th>Type</th>
			<th>Champion</th>
			<th>IP</th>
			<th>Date</th>
			<th>Team</th>
			<th>Opponents</th>
			<th>Statistics</th>
		</tr>
	</thead>
	<tbody>
		<% @games['games'].each do |game| %>
			<% if game['stats']['win'] == false %>
				<% bgcolor="#ffbaba" %>
			<% else %>
				<% bgcolor="#baffaa" %>
			<% end %>
			<tr bgcolor=<%= bgcolor %>>
				<td><img src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/map/map<%= game['mapId'] %>.png" title="<%= game['subType'] %>" width="64"></td>
				<% champ = game['championId'].to_s %>
				<td>
					<div class="imageAndText">
						<img src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/champion/<%= @champions[champ]['image']['full'] %>" title="<%= @champions[champ]['name']  %>" width="64px">
						<div class="col">
							<h2 style="text-align: center;"><%= game['stats']['level'] %></h2>
						</div>
					</div>
				</td>
				<td><%= game['ipEarned'] %></td>
				<td><%= Time.at(game['createDate'] / 1000).to_formatted_s(:db) %></td>
				<td>
					<% mates = game['fellowPlayers'].select { |n| n['teamId'] == game['teamId'] } %>
					<% mates.each do |player| %>
						<% fchamp = player['championId'].to_s %>
						<img src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/champion/<%= @champions[fchamp]['image']['full'] %>" title="<%= @champions[fchamp]['name']  %>" width="32px">
						<% @ksum = Summoner.find_by(summoner_id: player['summonerId']) %>
						<% unless @ksum.nil? %>
							<%= link_to @ksum.name, summoner_games_path(@ksum) %>
						<% else %>
							<% newSum = Summoner.new() %>
							<% playId = player['summonerId'] %> 
							<% newSum.summoner_id = playId %>
							<% sumobj = @client.summoners_by_ids(summoner_ids: playId.to_s).body %>
							<% unless sumobj.has_key?('status') %>
								<% Rails.logger.debug sumobj.inspect %>
								<% newSum.name = sumobj[playId.to_s]['name'] %>
								<% newSum.region = @summoner.region %>
								<% newSum.save %>
								<%= sumobj[playId.to_s]['name'] %>
							<% else %>
								<%= playId.to_s %>
							<% end %>
						<% end %>
						<br />
					<% end %>
				</td>
				<td>
					<% mates = game['fellowPlayers'].select { |n| n['teamId'] != game['teamId'] } %>
					<% mates.each do |player| %>
						<% fchamp = player['championId'].to_s %>
						<img src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/champion/<%= @champions[fchamp]['image']['full'] %>" title="<%= @champions[fchamp]['name']  %>" width="32px">
						<% @ksum = Summoner.find_by(summoner_id: player['summonerId']) %>
						<% unless @ksum.nil? %>
							<%= link_to @ksum.name, summoner_games_path(@ksum) %>
						<% else %>
							<% newSum = Summoner.new() %>
							<% playId = player['summonerId'] %> 
							<% newSum.summoner_id = playId %>
							<% sumobj = @client.summoners_by_ids(summoner_ids: playId.to_s).body %>
							<% unless sumobj.has_key?('status') %>
								<% Rails.logger.debug sumobj.inspect %>
								<% newSum.name = sumobj[playId.to_s]['name'] %>
								<% newSum.region = @summoner.region %>
								<% newSum.save %>
								<%= sumobj[playId.to_s]['name'] %>
							<% else %>
								<%= playId.to_s %>
							<% end %>
						<% end %>
						<br />
					<% end %>
				</td>
				<td>
					<!-- basic-->
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png">
					<%= game['stats']['championsKilled'] %> / <%= game['stats']['numDeaths'] %> / <%= game['stats']['assists'] %>&nbsp
					<!-- gold -->
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png">+<%= game['stats']['goldEarned'] %> / -<%= game['stats']['goldSpent'] %>
				<!-- minions -->
				<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png">
				<%= game['stats']['minionsKilled'] %>
				<br />
				<!-- items -->
				<% for x in 0..6 %>
					<% itm = game['stats']['item' + x.to_s] %>
					<% unless @items[itm.to_s].nil? %>
						<img src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/<%= itm %>.png" title="<%= @items[itm.to_s]['name'] %>" width="32px">
					<% end %>
				<% end %>
				<br />
				<% game['stats'].each do |key, val| %>
					<% next if key.empty? %>
					<%= key.to_s + " : " + val.to_s %><br />
				<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")), summoners_path, :class => 'btn btn-default'  %>
</div>
